@import '_common';

//헤더 공통
.header {
	position  : relative;
    height    : 100px;
	background: #fff url('../../images/bg_header.jpg') no-repeat top right;

	.inner_wrap {
		margin  : 0 auto;
		max-width:1720px;
		height:100%;
		z-index: 1;
	}

	.logo {
		float     : left;
		margin-top: 3px;
		margin-left: 3px;
		width     : 114px;
	}

	.bg_depth2 {
		display   : none; width: 100%; height: 135px;
		position  : absolute; left      : 0; top: 100px;
		background: rgba(0, 0, 0, 0.7);
		z-index   : 10;
	}

	.gnb {
		min-width:513px;
		position   : absolute;
		left:50%;
		transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		z-index    : 30;	
		padding-top: 32px;
		font-weight: 100;

		&:hover .depth2 {display: block;}
		&:hover ~ .bg_depth2 {display: block;}		

		>ul>li {
			float         : left;
			width         : 33%;
			min-width:113px;
			padding-bottom: 6px;
			line-height   : 56px;
			text-align    : center;		

			&:nth-child(2) {width:34%}

			&.on {
				>a {
					color        : $subtitIndigo;
					border-bottom: 2px solid $subtitIndigo;
				}
			}

			a {
				display        : block;
				padding-bottom : 10px;
				color          : #6a6a6a;
				font-size      : 20px;
				text-decoration: none;
				letter-spacing : 0.3px;
				font-weight    : 300;
			}
		}

		.depth2 {
			overflow: hidden;
			display : none;
			z-index : 30;

			li {margin     : 13px 0; line-height: 1;}

			li:first-child {padding-top: 14px; text-align : center;}

			a {
				font-size: 15px; color: #b1b1b1;

				&:hover {color: #ff9e01;}
			}
		}
	}	

	.user_info {
		display: flex; align-items: center;
		float: right;
		height:100%;

		.user_id {
			display: inline-block;
			padding-right:20px;
			line-height: 40px;
			font-size: 14px; color:#ff9e01;
		}

		.btn_logout {
			display: block; height    : 40px;
			line-height: 40px;
			padding: 0 15px;
			margin    : 0 30px 0 0;
			background: #ff9e01;
			font-size: 14px;
			color:#fff; text-align: center;
			cursor    : pointer;
		}
	}	
}

//wrap 공통
.wrap_admin {
	position: relative;
	min-width:1280px;
	min-height:100vh;
	background: #f3f3f3 url('../../images/bg_triangle_container.png') no-repeat right 0;

	.copyright {
		max-width:1720px;
		margin: 0 auto;
	}
}

//메인 컨텐츠박스 공통
.admin_container {
	max-width:1720px;
	margin: 0 auto;	
	padding: 0 10px;
	box-sizing: border-box;
}

.tit_sty1 {
	padding  : 50px 0 20px;
	font-size: 30px;
	color    : $titleIndigo;
}

.tit_sty2 {
	padding  : 27px 0 18px;
	font-size: 24px;
	color    : #242424;
}

.pb0 {padding-bottom: 0;}


.policy {//하단 이용약관, 개인정보처리방침 공통
	width : 220px;
	margin: 0 auto;

	&.main_cp {
		margin-top: 104px;

		a {
			color: #001b32;
		}
	}

	a {
		color          : #fff;
		font-size      : 16px;
		text-decoration: none;

		&:first-child {
			margin-right: 41px;
		}
	}

	&.sub {
		margin-top: 79px;

		a {
			color: $basicIndigo;
		}
	}
}

//footer 공통
.footer {
	overflow  : hidden;
	max-width     : 1720px;
	margin    : 16px auto 0;
	padding: 0 10px;	
	box-sizing: border-box;
	color     : $basicIndigo;
	font-size : 14px;
	border-top: 1px solid $basicIndigo;
	

	.company_info {
		float      : left;
		padding    : 15px 0 0 0;
		line-height: 24px;

		.name {
			font-size  : 18px;
			line-height: 25px;
			font-weight: 100;
		}

		.business_info span,
		.tel_info span {
			position   : relative;
			font-weight: 100;

			&:first-child {
				padding-left: 2px;
			}
		}

		.business_info span:after,
		.tel_info span:after {
			content   : '';
			display   : inline-block;
			width     : 1px;
			height    : 9px;
			margin    : 0 17px 0 20px;
			background: $basicIndigo;
		}

		.business_info span:last-child:after,
		.tel_info span:last-child:after {
			display: none;
		}

		.address {
			font-weight: 100;
		}
	}

	.logo {
		float : right;
		width:147px;
		vertical-align: top;

		img {margin-top: -7px; margin-left: 15px;}
	}
}

.copyright {
	margin     : 20px 0 0;
	padding-bottom: 39px;
	font-size  : 12px;
	font-weight: 300;
	color      : #fff;
	text-align : center;

	&.sub {
		color: $basicIndigo;
	}
}

//공통 셀렉트박스 모양 레이어팝업 디자인
.select_box_area {
	position: relative;width: 251px;border-bottom: 2px solid #1684e5;

	.selected_box {
		padding-bottom: 9px;
	
		.select_box_txt {color: #757575;}
	}

	.select_toggle_box  {
		display: none; width: 100%; max-height: 150px;
		position: absolute; top: 26px; left: 0;
		border: 1px solid #ddd; border-top: 0;
		overflow: auto; z-index: 1; box-sizing: border-box;
	}

	.on + .select_toggle_box {display:block;}

	&:after {
		content: '';display: block;
		width: 0;height: 0;
		position: absolute;right: 0;bottom: 9px;
		border-left: 7px solid transparent; border-right: 7px solid transparent;
		border-top: 10px solid #1684e5;
	}

	.list_select_option {
		background: #fff;
	
		li {
			padding: 5px;cursor: pointer;
			&:hover {background-color: #f1f1f1;}
		}
	}
}

/*---------------------------
*   admin 로그인 페이지
----------------------------*/
.wrap_master_main {
	background: url('../../images/bg_main_master.png') no-repeat top center/cover;
	padding-top:120px;
}

.login_box {
	width     : 585px;
	height    : 413px;
	margin    : 0 auto;
	background: url('../../images/login_master_box.png') no-repeat left bottom;
}

.wrap_login_area {
	padding: 117px 0 0 59px;

	.box_input,
	.btn_login {
		float: left;
	}

	.login_info {
		clear:left;
		padding       : 79px 58px 0 0;
		text-align    : right; font-size     : 15px;
		color         : #a3bdef; letter-spacing: -0.1px;	
	}
}

.cont_master_main {
	.logo {
		width      :317px;
		height     : 241px;
		margin: 0 auto;
		background : url('../../images/logo_nespay_color1.png') no-repeat left center/332px;
	}

	.wrap_login_area .box_input {
		input {
			display       : block;
			width         : 300px;
			height        : 55px;
			line-height: 1;
			padding: 13px 18px 12px 19px;
			box-sizing: border-box;
			font-size     : 20px;
			color         : #4a77d1;
			letter-spacing: -1.5px;
			background    : transparent;
		}

		/* placeholder 스타일 지정 */
		input::placeholder { color  : #4a77d1; opacity: 1;
			/* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
		}

		input::-webkit-input-placeholder { color: #4a77d1; }

		/* IE */
		input:-ms-input-placeholder { color: #4a77d1; }
		/* Firefox */
		input:-mos-input-placeholder { color: #4a77d1; }

		.login_id { margin-bottom: 10px; }
	}

	.btn_login {
		width      : 140px;
		height     : 121px;
		margin-left: 21px;
		cursor     : pointer;
		background : url('../../images/btn_loginmaster_main.png') no-repeat left top;
	}
}

// 닫기 버튼 공통
.btn_close_pop {
	width          : 21px;
	height         : 21px;
	background     : url(../../images/btn_x.png) no-repeat left top;
	background-size: 21px 21px;
	position       : absolute;
	right          : 20px;
	top            : 13px;
}

//로그인 인증 레이어팝업
.layer_confirm_certi {
	display:none;
	width        : 640px;
	height       : 140px;
	position     : absolute;
	left:50%; top:50%;
	margin-left:-320px;
	padding      : 0 22px;
	border-radius: 10px;
	box-shadow   : 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
	box-sizing   : border-box;
	background   : #fff;

	&.on {display:block;}

	.pop_head {
		padding: 0;
	}	

	.wrap_certi_cfm {
		padding-top: 56px;
	}

	.box_input {
		float         : left;
		width         : 439px;
		padding-left  : 20px;
		border-bottom : 1px solid #1684e5;
		letter-spacing: -1px;
		box-sizing    : border-box;

		input {
			width         : 372px;
			height        : 50px;
			font-size     : 16px;
			letter-spacing: -0.5px;
			box-sizing    : border-box;
		}

		#time {
			color    : #ff0000;
			font-size: 20px;
		}
	}

	.btn_certi_cfm {
		float      : left;
		width      : 137px;
		height     : 50px;
		margin-left: 20px;
		color      : #fff;
		font-size  : 20px;
		text-align : center;
		line-height: 50px;
		background : #012875;
		background : url(../../images/btn_certi_cfm.png) no-repeat left top;
		cursor     : pointer;
	}
}

//컨텐츠 영역 하위 랩 박스 공통
.wrap_admin_layer {
	position     : relative;
	padding      : 0 25px 70px;
	min-height:600px;
	border-radius: 10px;
	box-shadow   : 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
	box-sizing   : border-box;
	background   : url('../../images/bg_triangle2.png') no-repeat right bottom/270px #ffffff;
}

//검색 영역 공통
.wrap_util {
	position     : relative;
	margin-bottom: 40px;

	&.sty2 {padding-bottom: 30px;}
	
	.box_search1 {
		dl { overflow: hidden; }

		dt,
		dd {
			float    : left;
			font-size: 18px;
			color    : $inputGray;
		}

		dt {
			height     : 55px;
			padding    : 0 14px 0 8px;
			line-height: 55px;
			box-sizing : border-box;
		}

		dd { line-height: 55px; }

		.calendar_area {display: flex; align-items: center;}
		.wrap_calendar {
			display: block;
			position: relative;
			width:170px;  height: 35px;	
			border-bottom : 1px solid $lineBlue;
			background : url('../../images/ico_calendar2.png') top 0 right 7px/25px no-repeat;

			input {							
				width: 170px; height: 35px;
				padding: 0 10px;
				border    : none;
				box-sizing: border-box;
				background: transparent;		
				color:#757575; cursor: pointer;		
			}
		}

		.inp_line {
			margin: 0 13px;
		}
	}

	.box_search2 {overflow: hidden; margin-top:27px; 
		
		dl{
			display  : block; float: left;
			font-size: 18px; color    : $inputGray;

			dt,dd {display  : inline;}
		}	

		.box_option_sel {margin-left: 44px;}

		.box_search_option {
			margin-left: 44px;
			box-sizing: border-box;
			text-align: left;
		}
		.box_data {margin-left: 30px;		
			span {
				display: inline-block; padding: 0 10px;
				border-bottom : 1px solid $lineBlue;

				input {padding-bottom: 8px; width:288px}
			}
		}
		.box_dealstat {margin-left: 115px;}
		.box_id_search {
			display: block;
			border-bottom: 1px solid #1684e5;
			width:500px;
			font-size: 0;			

			input {
				display: inline-block;
				width: 466px; height:34px;
				padding: 0 10px 0 11px;
				line-height: 1;
				box-sizing: border-box;
				vertical-align: bottom;
				font-size: 18px;
			}

			.btn_ico_search {
				display   : inline-block;
				width     : 27px;
				height    : 28px;
				background: url('../../images/ico_search.png') no-repeat left top;
				vertical-align: top;
				cursor: pointer;
			}
		}
	}

	.btn_searchstart {
		display: inline-block; width: 90px; height: 32px; margin-left: 120px;
		line-height: 32px; font-size: 18px; color:#fff; text-align: center;
		background: #1684e5;  cursor: pointer;
	}

	.tool {
		position: absolute;
		top     : 0;
		right   : 2px;		

		.btn_print,
		.btn_xls {
			display: inline-block;
			height : 36px;
			cursor : pointer;
		}

		.btn_print {
			width       : 36px;
			margin-right: 44px;
			background  : url('../../images/ico_print.png') no-repeat left top;
		}

		.btn_xls {
			width     : 34px;
			background: url('../../images/ico_excel.png') no-repeat left top;
		}
	}

	select {
		min-width         : 170px;
		margin-left       : 11px;
		height:30px;
		padding:  0 8px 10px;
		border            : none;
		line-height: 1;
		letter-spacing: -1px;
		border-bottom     : 1px solid $lineBlue;
		background        : url('../../images/arrow_select_blue.png') no-repeat right 14px bottom 12px;
		border-radius     : 0px;
		-webkit-appearance: none;
		-moz-appearance   : none;
		appearance        : none;
		box-sizing:border-box;
		font-size: 18px;
		color:#757575;
		cursor: pointer;
	}

	select::-ms-expand {
		display: none;
	}
}

//cp 테이블 공통
.tbl {
	.tal { text-align  : left; padding-left: 20px; }

	.holiday_code { padding-left: 32px; }

	.tar { text-align   : right; padding-right: 20px; }

	.status { padding-right: 84px; }

	span { display   : inline-block; word-break: break-all; }

	td {
		vertical-align: middle;

		.custom_checkbox { padding-left: 0 }	

		.custom_checkbox .checkmark { position: static; }
	}

	.cpfrannbr_td:hover {
		text-decoration: underline;
		cursor: pointer;
	}

	.pg_deal_code { max-width: 65px; }
	.check_card { max-width: 30px; }
}


.cp_franchisee_tbl .frchnum_td:hover {//가맹점 > 기본정보 테이블
	 text-decoration: underline; cursor: pointer;
}

.cp_frch_contact_tbl .frchnum_td:hover {// 가맹점 > 계약관리 테이블
	text-decoration: underline; cursor: pointer
}

.cp_deal_tbl {//신용카드 거래내역 테이블
	th, td{font-size: 13px;}
	td span {
		&.date { max-width: 67px; }
		&.deal_no {max-width: 72px;
			&:hover {text-decoration:underline; cursor: pointer;}
		}
		&.id { max-width: 52px; }
		&.order_no { max-width: 73px; }
		&.order_date { max-width: 67px; }
		&.service { max-width: 84px; }
		&.product_name { max-width: 120px; }
		&.buyer { max-width: 49px; }
		&.payment { max-width: 98px; }
		&.card { max-width: 72px; }
		&.approval_date { max-width: 67px; }
		&.response_code { max-width: 30px; }
		&.deal_status { max-width: 25px; }
		&.del_cancel { max-width: 25px; }
	}

	.last {width:50px; position: relative;}
	.btn_cancel {
		display: block;
		width:50px; height:30px;
		line-height: 30px;
		position: absolute;
		right:0; bottom:0;
		color:$accentColor;
		background: #fff;
		border: 1px solid $accentColor;
		box-sizing: border-box;
		cursor: pointer;
	}
}

.bar { color: #1684e5 }

.btn_pg_modifiy {
	padding        : 5px 12px;
	color          : $accentColor;
	border         : 1px solid $accentColor;
	text-decoration: none;
	background     : #fff;
}



/*----------------------
	# 가맹점 팝업 공통
------------------------*/
.cp_admin_pop {
	// cp - 가맹점 기본정보, 계약관리 보기
	position     : relative;
	width        : 920px;
	border-radius: 10px;
	box-shadow   : 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
	background   : #fff;

	&:after {
		content: '';
		@include bg(100px, 100px, '../../images/bg_triangle.png');
		display : block;
		position: absolute;
		right   : 0;
		bottom  : 0;
	}

	.pop_head {
		padding-top   : 19px;
		.head_txt {
			font-size:18px; text-align:center;}
		.btn_close_pop {
			right: 10px;
			top  : 10px;
		}
	}

	.pop_cont_top {
		padding: 0 59px;

		td {
			padding  : 15px 0;
			font-size: $contPop;
			color    : $inputGray;
		}
	}
}

.pop_transaction {//거래내역 상세
	width:1080px;
	padding-bottom: 50px;

	.affiliate_tbl .cont_th { width: 102px; }
	 .wrap_transaction_payment {border-top:1px solid #0f4c82}
	 .section_transaction_history {overflow:auto;border-top:6px solid #0f4c82;height:260px;}
	 .wrap_transaction_history {overflow:hidden;padding:6px 0;border-bottom:1px solid #fff;background:#f3f3f3;
		 &.ok {background:#e8ebef;
			 .ico_state {background:#1684e6;}
		 }

		 .ico_state {float:left;width:50px;height:50px;margin:12px 16px;border-radius:25px;line-height:50px;font-size:15px;font-weight:500;color:#fff;text-align:center;background:#a1a1a1}
		 table {float:left;width:calc(100% - 82px) !important;
		 
			 th, td {padding:10px 0 !important;} 
			 th {text-align:center !important;}
		 }
	 }

	 .affiliate_basic {
		th {
			padding: 15px 17px 15px 0; box-sizing: border-box;
			font-size: 15px; text-align: right; letter-spacing: -0.4px;
		}
	}
}   

.pop_covenant_info {
	// cp admin 가맹점 계약관리 보기
	.pop_head {			
		padding-bottom: 23px;
	}

	.pop_cont {
		padding: 0 60px 35px;
	}

	.covenant_tbl {
		width: 100%;

		.cont_th {
			width     : 143px;
			padding   : 15px 18px 15px 0;
			font-size : $contPop;
			text-align: right;
			box-sizing: border-box;
		}

		tr td:first-of-type {
			width: 265px
		}

		td {
			font-size: $contPop;
			color    : $inputGray
		}

		.fee_pct {
			padding-top: 15px;
		}
	}
	.cause_memo {
		display   : block;
		overflow  : auto;
		width     : 658px;
		height    : 90px;
		border    : 1px solid $lineBlue;
		resize    : none;
		background: #fff
	}


	.cause_info .aflte_info {
		padding-bottom: 8px;
	}

	.covenant_tbl {

		.effective_date,
		.chg_date,
		.termination_date,
		.revocation_date {
			.vtc_bar {
				color: $lineBlue
			}

			color:#242424;
		}
	}

	.fee_aflte_info {

		.cont_th,
		.fee_tp,
		.aflte_info {
			padding-top: 20px;
		}
	}

	.stop_dates {
		.cont_th {
			padding-top: 0;
		}

		.termination_date,
		.revocation_date {
			padding-top: 0;
		}
	}
}

.pop_affiliate_info {//가맹점 기본정보 상세

	.pop_cont_bottom {
		margin       : 0 59px 12px;
		border-top   : 2px solid $lineBlue;
		border-bottom: 2px solid $lineBlue;

		.responsible_list_tbl {
			//가맹점 담당자 정보
			.cont_th {
				width     : 143px;
				padding   : 15px 17px 15px 0;
				text-align: right;
				box-sizing: border-box;
				font-size : $contPop;
			}

			td {font-size: $contPopS;}

			td:after {
				content   : '';
				display   : block;
				width     : 1px;
				height    : 15px;
				position  : absolute;
				right     : 0;
				top       : 15px;
				background: $lineBlue;
			}


			.rspsblty_name {
				padding-left : 0;
				padding-right: 17px;
			}

			.rspsblty_directnbr {
				padding-left : 20px;
				padding-right: 0;
			}

			.contract_responsible {

				th,
				td {
					padding-top: 26px;
				}

				td:after {
					top: 26px
				}
			}

			.rspsblty_cellnbr { padding-left : 27px; padding-right: 0; }

			.rspsblty_email {
				padding-left: 24px;

				&:after {
					display: none;
				}
			}
		}

		.customer_responsible {

			.cont_th,
			td {
				padding-bottom: 22px;
			}
		}

	}
}	

.pop_affiliate_modify {//가맹점 검색 팝업
	padding-bottom:19px;

	&:after { display: none; }
		
	.wrap_search_accountarea {padding:10px 0 34px;font-size:15px;
		.check_condition {margin-right:101px;}
		.txt {margin-right:19px;}
		span {display:inline-block;}
		.select_box_area {display:inline-block; width:171px; cursor: pointer;}
		input[type="text"] {width:171px; margin-right:60px;border-bottom:2px solid #1684e6;}
		.btn_franchisee  {display:inline-block;width:118px;height:30px;color:#fff;font-size:15px;line-height:30px;text-align:center;background:#ff9e01; cursor: pointer; vertical-align: top;}
	}
	.tbl td {color:#242424;
		padding:15px 0; font-size:15px;
		&:first-child:hover {text-decoration: none;}
	}
	.tbl .cpid_td:hover {text-decoration: underline;}

	.pop_content {padding: 0 24px;}

	.keyword input {padding-bottom: 9px;}
	.dataTables_wrapper .top {height:0; overflow: hidden;}
	.dataTables_scrollBody .sorting {height:0; overflow: hidden; padding: 0; font-size: 0;}

	#data tr {
		cursor: pointer;
		&.active {background: #fff;}
		&:hover {background: #fff;}
	}
}


.pop_affiliate_info {
	// cp admin 가맹점 기본정보 보기
	padding-bottom: 50px;

	.pop_head { padding-bottom: 23px;}

	.affiliate_tbl {
		width: 100%;

		.cont_th {
			width     : 143px;
			padding   : 15px 18px 15px 0;
			font-size : $contPop;
			text-align: right;
			box-sizing: border-box;
			letter-spacing: -0.4px;
		}

		.aflte_number {
			width: 268px
		}		
	}


	&.pop_calculate_info {
		//가맹점 정산정보
		padding-bottom: 27px;
	}
}

.pop_bottom_v1 {
	//연한 하늘색 배경색 있는
	overflow  : hidden;
	padding   : 14px 293px 21px 290px;
	background: #e8ebef;

	.btn_save {
		float     : left;
		margin-top: 0;
	}

	.btn_cnxl {
		float: right;
	}
}