@import '_common';
html {scroll-behavior: smooth;}
%center_page {
  max-width: 1274px;
  margin: 0 auto;
}

//팝업 마스크
.mask {
  content:" ";
  display:block; width:100%; height:100%;
  position:fixed; left:0; top:0;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}
.pop_area {
  display: block;
  position:fixed; left:50%; top:50%;
  transform:translate(-50%, -50%);
  z-index: 1010;

  .history_detail {display: block; visibility: visible;}
}

//loading
#typed {
  display:flex;
  width:100%; height:100%;
  justify-content: center;
  align-items:center;
  position:fixed;
  left:0; top:0;
  background:$colorSkin;
  text-align:center;
  z-index: 1;
  font-size:2rem;
  color:$colorBrown
}

//상단 헤더
.mj_header {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: all 1s;

  &.change_bg {
    background: rgba(255, 255, 255, 0.8);
    transition: all .3s;

    a:hover {
      background: $colorYellow;
    }
  }

  &.fixed {
    position: fixed;
    transition: all 1s;
  }

  .header_wrap {
    display: flex;
    justify-content: space-between;
    @extend %center_page;
    color: $colorMaroon;
  }
}

.mj_title {
  //로고 대신
  display: flex;
  align-items: center;

  .ko_name {
    font-family: $fontRoboto;
  }

  .txt_box {
    padding-left: 1rem;
    transition: padding .4s;
  }
  .en_name,
  .job_txt {
    display: block;
    font-size: 1.2rem;
    font-weight: 350;
    line-height: 1;
  }
  .en_name {
    padding-bottom: 3px;
  }
}

.my_tnb {
  //헤더 메뉴
  max-width: 760px;
  width: 59%;
  display: flex;
  align-items: center;
  transition: width .4s;

  a {
    display: inline-block;
    width: 64px;
    height: 64px;
    line-height: 64px;
  }
  
  ul {
    display: flex;
    flex-grow: 1;

    li {
      flex-grow: 1;
      font-weight: 350;
      font-size: 1.6rem;
      text-align: center;

      &.on a, a:hover {
        border-radius: 50%;
        background-color: $colorSkin;
      }    
    }
  }  
}

.mj_portfolio {
  background: url(/images/bg_skill.svg) no-repeat center 0;
}

.mj_skill {
  padding-bottom: 10%;
  background: url(/images/bg_skill.svg) repeat center 0/cover;

  .cont_tit {
    padding-top: 10%;
    transition: padding .4s;
  }
}

.skill_conts {
  @extend %center_page;

  //main skill
  .skill_main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 6.9%;
    transition: padding .4s;

    li {
      padding: 0 18px;
      background: transparentize($colorSkin, 0.5);
    }
  }

  .skill_desc {
    font-weight: 350;
    text-align: center;
  }
  .sentence {
    padding-bottom: 22px;
    line-height: 1.4;
    font-size: 1.2rem;
    transition: all .4s;
    &:last-child {
      padding-bottom: 44px;
    }

    .mark_txt {
      background: $colorYellow;
      font-size: inherit;
    }
  }

  .skill_name {
    margin-bottom: 10%;
    margin-top: -17%;
    text-align: center;
    transition: margin .4s;
  }

  //sub skill
  .skill_sub {
    display: flex;
    justify-content: space-between;
    max-width: 548px;
    margin: 6.3% auto 0;
    transition: margin .4s;
  }
}


.mj_history {
  padding-bottom: 6%;
  background: url(/images/bg_history.svg) repeat;
  transition: padding .4s;
}

.history_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @extend %center_page;
  position: relative;
  margin-top: 34px;

  .history_item {    
    padding-bottom: 20px;

    .item_img_s {
      display: block;
      width: 100%;
      background: $colorYellow;
      cursor: pointer;
    }

    .closed_mark {display:inline-block; padding:1px 5px; margin-left:5px;}
  }
}
.history_detail {
  display:none; visibility: hidden;

  .item_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 465px;
    border: 1px solid $colorYellow;
    transition: width .4s;

    .img_wrap {
      display: block;
      position: relative;

      .btn_view_code {
        display: block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        position: absolute;
        bottom: 20px;
        right: 0;
        background: $colorYellow;
        font-size: 2rem;
        text-align: center;

        &:hover, &:active {background: transparentize($color: $colorYellow, $amount: 0.1);}
      }
    }
  }

  .site_desc {
    max-width: 1254px;
    border-top: 2px solid $colorYellow;
    background: #fff;
    color: $colorMaroon;

    .head_area {
      margin-bottom: 23px;
      padding-left: 5px;
      border-left: 2px solid $colorYellow;
    }
  }
}

.site_desc {
  font-size: 1.2rem;
  line-height: 16px;

  .site_title {
    padding-bottom: 4px;
    font-size: 2rem;
    line-height: 27px;

    .preview_btns {
      display: inline-flex;
      padding-left: 10px;
      vertical-align: 4px;

      .btn_mobile {
        width: 10px;
        height: 19px;
        background: url(/images/icon_mobile.svg) no-repeat center;
      }
      .btn_tablet {
        width: 14px;
        height: 19px;
        background: url(/images/icon_tablet.svg) no-repeat center;
        margin: 0 16px;
      }
      .btn_desktop {
        width: 27px;
        height: 19px;
        background: url(/images/icon_monitor.svg) no-repeat center;
      }
    }
  }

  .proj_range {padding-right: 10px;}
  .closed_mark {padding: 0 3px;
    color:$colorBlack; background:$colorSkin;}

  .dev_tech { margin: 0 0 20px; }
  .small_tit { font-weight: 500; }
}

.m_site_desc .closed_mark {background:$colorBrown;}


.mj_contact {
  padding: 0 0 6.8%;
  background: url(/images/bg_skill.svg) repeat center 0;
}

.contact_main {
  @extend %center_page;
  padding-top: 34px;

  .mj_mail {
    display: block;
    width: 270px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    background: $colorBrown;
    text-align: center;

    a {
      color: $colorSkin;
      font-size: 2rem;
    }
  }
}
.opentalk_area {
  margin-top: 30px;
  color: $colorMaroon;
  line-height: 1.4;
  text-align: center;
  .big_note {
    font-size: 1.6rem;
    font-weight: 400;
    .mark_txt {
      position: relative;
      font-size: inherit;
      z-index: 1;
      background: linear-gradient(rgba(255,255,255,0) 15%, $colorYellow);
    }
  }
  .small_note {
    padding-top: 5px;
    font-size: 1.2rem;
  }

  .qr_code {
    width: 160px;
    height: 160px;
    background: $colorBrown;
    margin: 20px auto;
  }
  .info_txt {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}

.mj_footer {
  padding: 35px 10px;
  background: $colorMaroon;
  text-align: center;

  .frontend {
    font-size: 1.2rem;
    line-height: 1.4;
    color: #fff;
  }
  .webdesigner {
    display: block;
    font-size: 1rem;
    line-height: 1.3;
    color: $colorBrown;
  }
}


@media (min-width:1275px) {
  .skill_main li {
    flex-grow: 1;
    
    &:nth-child(2) {
      margin: 0 7px;
    }    
  }

  .history_item {
    width: calc(25% - 20px);    
    &:nth-child(4n) {
      margin-right: 0;
    }

    .item_img_s:hover {
      outline:1px solid $colorYellow;
    }
  }

  .history_detail {
    position: relative;
    max-width: 1274px;
    padding: 23px 0 0 20px;

    .tech_sys_area {position: absolute; left:495px; bottom:36px;}
  }

  .site_desc {
    width: calc(100vw - 37px);
    height:275px;
    padding: 31px 30px 40px 475px;
  }

  .m_site_desc {display: none;}
}

@media (max-width: 1274px) {
  .mj_header .header_wrap {
    padding: 8px 20px;
  }
 
  .history_detail .item_img {display:none;}

  .item_img_s {position: relative;}
  .m_site_desc {
    display: block;
    width:fit-content;
    position:absolute;
    left:50%; top:50%;
    transform:translate(-50%, -50%);
    color:$colorSkin;
    z-index: 1;
    font-size:1.4rem;

    .proj_range {padding-bottom: 0.8rem;}
    .site_title {margin-bottom: 0.8rem;}
   .site_type {display: block; margin-top: 0.8rem;}
  }

  .view_mode .item_img_s:after {
    content:' ';
     display:block;
     width:100%;height:100%;
     position:absolute; left:0; top:0;
     background-color:transparentize($colorBlack, 0.5);
     z-index: 0;
   }
}

@media (max-width:1274px) and (min-width:1025px) {
  .history_main {
    max-width: 940px;

    .history_item {width: calc(33.3% - 20px)}
  }


  .site_desc {
    width: 940px;
    padding: 31px 30px 40px;
  }

  .skill_conts .skill_main {
    justify-content: center;
    padding-top:10%;
  }

  .mj_skill .cont_tit {
    padding-top: 15%;
  }  
}

@media (max-width:1274px) and (min-width:721px) {
  .skill_conts {
    max-width:912px;
    
    .skill_main li {
      width: calc(50% - 30px);
      flex-grow: initial;

      &:nth-child(2) {

      margin-left: 2%;
      }
  
      &:nth-child(3) {
        width: calc(100% - 40px);
        margin-top:8%;
        .skill_name {
          margin-top: -7%;
        margin-bottom: 4%;
        }
      }
    }
  }
}

@media (max-width:1024px) {
  .history_main {
    max-width: 640px;

    .history_item {
      width:calc(50% - 20px);
    }
  }


  .enter_t {display:block;}
}

@media (max-width:1024px) {
  
  
  .history_detail {margin-top: 0; padding-top: 10px;}

  .site_desc {display:none}
}

@media (max-width:810px) and (min-width:721px) {
  .enter_tm {display:block}
}

@media (max-width:780px) and (min-width:721px) {
  .enter_ts {display:block}
  .skill_conts .skill_main li {
    padding:0 14px
  }
}


@media (max-width: 720px) {
  .my_tnb {
    width: 50%;
  }
  .skill_conts .skill_main {
    padding-top:4%;

    li {
      width:100%;
      max-width:420px;
      margin: 16% 0 0;
      padding:0 16px;
    }
  } 

  .skill_conts .skill_name {
    margin-bottom: 6%;
  }
  .history_detail {padding-top: 0px; padding-left: 0;}
  .history_main .history_item {
    width:100%;

    .item_img_s {
      width:calc(100% - 40px); max-width:304px;
      margin: 0 auto;text-align:center;
    }   
  }
}

@media (max-width:600px) {
  .skill_conts .skill_sub {
    padding: 0 25px;
  }
}

@media (max-width:480px) {
  .txt_box {display:none}
  .my_tnb {width:auto; min-width:200px;}
}
