@import "_common";

/* -----------------------------------
* 공통 셀렉트박스 모양 레이어팝업 디자인
* ----------------------------------- */
.select_box_area {
  position: relative;
  width: 251px;
  border-bottom: 2px solid #1684e5;

  .selected_box {
    padding-bottom: 9px;
    cursor: pointer;

    .select_box_txt {
      color: #757575;
    }
  }

  .select_toggle_box {
    display: none;
    width: 100%;
    max-height: 150px;
    position: absolute;
    top: 25px;
    left: 0;
    border: 1px solid #ddd;
    border-top: 0;
    overflow: auto;
    z-index: 1;
    box-sizing: border-box;
  }

  .on + .select_toggle_box {
    display: block;
  }

  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    bottom: 9px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #1684e5;
  }

  .list_select_option {
    background: #fff;

    li {
      padding: 5px;
      cursor: pointer;
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}

.bar {
  color: #1684e5;
}

/*저장 버튼 공통*/
.btn_pg_modify {
  padding: 5px 12px;
  color: $accentColor;
  border: 1px solid $accentColor;
  text-decoration: none;
  background: #fff;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

/*신규 버튼 공통 */
.btn_new {
  width: 150px;
  height: 40px;
  position: absolute;
  right: 25px;
  bottom: 40px;
  cursor: pointer;
  background: url("../../images/btn_new.png") no-repeat left top;
}

/* ---------
* 공통 헤더
* ---------- */
.header {
  position: relative;
  height: 100px;
  background: #fff url("../../images/bg_header.jpg") no-repeat top right;
  background-attachment: fixed;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);

  .inner_wrap {
    max-width: 1720px;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
  }

  .logo {
    float: left;
    width: 114px;
    margin-top: 3px;
    margin-left: 3px;
  }

  .bg_depth2 {
    display: none;
    width: 100%;
    height: 265px;
    position: absolute;
    left: 0;
    top: 100px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }

  .gnb {
    min-width: 830px;
    position: absolute;
    left: 50%;
    padding-top: 32px;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 30;
    font-weight: 100;

    &:hover ~ .bg_depth2 {
      display: block;
    }
    &:hover .depth2 {
      display: block;
    }

    > ul > li {
      float: left;
      width: 20%;
      min-width: 113px;
      padding-bottom: 6px;
      line-height: 57px;
      text-align: center;

      a {
        display: block;
        padding-bottom: 10px;
        color: #6a6a6a;
        font-size: 20px;
        text-decoration: none;
        letter-spacing: 0.3px;
        font-weight: 300;
      }

      &:hover > a {
        color: $subtitIndigo;
      }

      &.on > a {
        color: $subtitIndigo;
        border-bottom: 1px solid $subtitIndigo;
      }
    }

    .depth2 {
      overflow: hidden;
      z-index: 30;
      display: none;

      li {
        margin: 13px 0;
        line-height: 1;
      }

      li:first-child {
        padding-top: 14px;
        text-align: center;
      }

      a {
        font-size: 15px;
        color: #b1b1b1;

        &:hover {
          color: #ff9e01;
        }
      }
    }
  }
}
/* ---------
* 공통 푸터
* ---------- */
.footer {
  overflow: hidden;
  max-width: 1720px;
  margin: 16px auto 0;
  color: $basicIndigo;
  font-size: 14px;
  border-top: 1px solid $basicIndigo;

  @media (max-width: 1720px) {
    padding: 0 25px;
  }

  .company_info {
    float: left;
    padding: 15px 0 0 0;
    line-height: 24px;

    .name {
      font-size: 18px;
      line-height: 25px;
      font-weight: 100;
    }

    .business_info span,
    .tel_info span {
      position: relative;
      font-weight: 100;

      &:first-child {
        padding-left: 2px;
      }
    }

    .business_info span:after,
    .tel_info span:after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 9px;
      margin: 0 17px 0 20px;
      background: $basicIndigo;
    }

    .business_info span:last-child:after,
    .tel_info span:last-child:after {
      display: none;
    }

    .address {
      font-weight: 100;
    }
  }

  .logo {
    float: right;
    width: 147px;
    vertical-align: top;

    img {
      margin-top: -7px;
      margin-left: 15px;
    }
  }
}

.policy {
  width: 220px;
  margin: 0 auto;
  margin-top: 104px;

  a {
    font-size: 16px;
    text-decoration: none;
    color: $basicIndigo;

    &:first-child {
      margin-right: 41px;
    }
  }
}

.copyright {
  margin: 20px auto 0;
  max-width: 1720px;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  text-align: center;

  &.sub {
    color: $basicIndigo;
  }
}

/* -----------------------
* 공통 최상위 부모 엘리먼트
* ------------------------ */
.wrap_admin {
  min-width: 1360px;
  background: #f3f3f3 url("../../images/bg_triangle_container.png") no-repeat top right/1920px;
  background-attachment: fixed;
  padding-bottom: 29px;

  .user_info {
    display: flex;
    align-items: center;
    float: right;
    height: 100%;

    .user_id {
      display: inline-block;
      padding-right: 20px;
      line-height: 40px;
      font-size: 14px;
      color: #ff9e01;
    }

    .btn_logout {
      display: block;
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      margin: 0 30px 0 0;
      background: #ff9e01;
      font-size: 14px;
      color: #fff;
      text-align: center;
      cursor: pointer;
    }
  }
}

/*페이지 타이틀 공통*/
.tit_sty1 {
  padding: 50px 0 21px;
  font-size: 30px;
  color: $titleIndigo;
}

.tit_sty2 {
  padding: 27px 0 32px;
  font-size: 24px;
  color: #242424;

  &.pb0 {
    padding-bottom: 0;
  }
}

/* --------------
* 컨텐츠 랩 공통
* --------------- */
.admin_container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 25px;
}
.wrap_admin_layer {
  position: relative;
  padding: 0 25px 51px;
  min-height: 600px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background: url("../../images/bg_triangle2.png") no-repeat right bottom/270px #ffffff;

  .inner_wrap {
    margin: 0 auto;
  }
}

/* ---------------
* 검색단 공통
* ----------------*/
.wrap_util {
  position: relative;
  margin-bottom: 40px;

  .box_search1 {
    overflow: hidden;

    dl {
      overflow: hidden;
      float: left;
    }

    dt,
    dd {
      float: left;
      font-size: 18px;
      color: $inputGray;
    }

    dt {
      height: 35px;
      padding: 0 14px 0 8px;
      line-height: 35px;
      box-sizing: border-box;
    }

    dd {
      line-height: 35px;
    }

    .box_search_cpid {
      margin-left: 100px;

      &.sty2 {
        margin-left: 70px;
      }
    }

    .calendar_area {
      display: flex;
      align-items: center;
    }
    .wrap_calendar {
      display: block;
      position: relative;
      width: 170px;
      height: 35px;
      border-bottom: 1px solid $lineBlue;
      background: url("../../images/ico_calendar2.png") top 0 right 7px/25px no-repeat;

      input {
        width: 170px;
        height: 32px;
        padding: 0 10px;
        border: none;
        box-sizing: border-box;
        background: transparent;
        color: #757575;
        cursor: pointer;
      }
    }

    .inp_line {
      margin: 0 13px;
    }
  }

  .box_id_search {
    display: block;
    border-bottom: 1px solid #1684e5;
    width: 286px;
    font-size: 0;

    input {
      display: inline-block;
      width: 250px;
      height: 34px;
      padding: 0 10px 0 11px;
      line-height: 1;
      box-sizing: border-box;
      vertical-align: bottom;
      font-size: 18px;
    }
  }
  .btn_ico_search {
    display: inline-block;
    width: 27px;
    height: 28px;
    background: url("../../images/ico_search.png") no-repeat left top;
    vertical-align: top;
    cursor: pointer;
  }

  .box_search2 {
    margin-top: 27px;
    overflow: hidden;

    &.sty2 {
      margin-left: 10px;
    }

    dl {
      display: block;
      float: left;
      font-size: 18px;
      color: $inputGray;
    }
    dt,
    dd {
      display: inline;
    }

    .box_search_option {
      margin-left: 44px;
      box-sizing: border-box;
      text-align: left;

      select {
        min-width: 170px;
      }
    }

    .box_data {
      margin-left: 29px;

      span {
        display: inline-block;
        padding: 0 10px 10px;
        line-height: 32px;
        border-bottom: 1px solid $lineBlue;
      }
    }

    .box_option_sel {
      margin-left: 45px;
      margin-right: 95px;
      text-align: left;
    }
    .lst {
      margin-left: 39px;
    }
  }
  .btn_searchstart {
    display: inline-block;
    width: 90px;
    height: 32px;
    margin-left: 75px;
    line-height: 32px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: #1684e5;
    cursor: pointer;
  }

  .tool {
    position: absolute;
    top: 0;
    right: 2px;

    .btn_print,
    .btn_xls {
      display: inline-block;
      height: 36px;
      cursor: pointer;
    }

    .btn_print {
      width: 36px;
      margin-right: 44px;
      background: url("../../images/ico_print.png") no-repeat left top;
    }

    .btn_xls {
      width: 34px;
      background: url("../../images/ico_excel.png") no-repeat left top;
    }
  }

  select {
    min-width: 200px;
    margin-left: 11px;
    padding: 0 10px 11px;
    height: 32px;
    line-height: 1;
    border: none;
    border-bottom: 1px solid $lineBlue;
    background: url("../../images/arrow_select_blue.png") no-repeat right 14px bottom 12px;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }

  select::-ms-expand {
    display: none;
  }
}

/* --------------------
* 공통 테이블
* --------------------*/
.tbl {
  &.layauto {
    table-layout: auto;
  }

  .tal {
    text-align: left;
    padding-left: 20px;
  }

  th.last {
    padding-bottom: 0;
    text-align: right;

    .btn_cancel {
      width: 50px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background: #fff;
      border: 1px solid $accentColor;
      color: $accentColor;
      font-size: 13px;
    }
  }
  td.last {
    width: 50px;
  }

  span {
    display: inline-block;
    word-break: break-all;
  }

  td {
    vertical-align: middle;
  }

  

  td .custom_checkbox {
    padding-left: 0;
    .checkmark {
      position: static;
    }
  }

  .pg_deal_code {
    max-width: 65px;
  }

  .check_card {
    max-width: 30px;
  }
}

.frnchs_tbl {
  //가맹점  테이블
  .status {
    text-align: right;
  }
  th.status {
    padding-right: 102px;
  }

  .btn_pg_modify {
    margin-left: 15px;
    margin-right: 20px;
  }

  .cpnbr_td:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.acnt_tbl {
  //가맹점 계정관리 테이블
  .userid_td:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.tbl_calender {
  //거래내역 > 대시보드 테이블
  table-layout: fixed;

  tr:nth-child(odd) td {
    background: #efefef;
    &:hover {
      background: #fff;
    }

    &.other_month:hover {
      background: #efefef;
    }
  }
  tr:nth-child(even) td {
    background: #e8ebef;
    &:hover {
      background: #fff;
    }

    &.other_month:hover {
      background: #e8ebef;
    }
  }

  th {
    height: 60px;
    line-height: 60px;
    font-weight: 500;
    font-size: $contPop;
    border-bottom: 2px solid #fff;
    background: $subtitIndigo;
    color: #fff;
  }
  td {
    padding: 13px 13px 11px;
    height: 100px;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
    cursor: pointer;

    &:nth-child(even) {
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
    }

    &.sunday_td .day_view {
      color: #ce0000;
    }
    &.other_month .day_view {
      color: #757575;
    }
  }
  tr:last-child td {
    border-bottom: 0;
  }

  .day_view {
    font-size: $contR;
    color: #000;
  }

  .info_dash {
    padding-top: 16px;
    padding-left: 10%;
    font-size: $contPopS;
  }
  .approval {
    display: flex;
    align-items: center;
    color: #ce0000;
  }
  .cancel {
    display: flex;
    align-items: center;
    margin-top: 16px;
    color: #6a6a6a;
  }
  .won_val {
    margin-left: auto;
    text-align: right;
  }
}

.credit_deal_tbl {//거래내역 > 신용카드 거래내역 테이블
  table-layout: auto;

  .dealnbr_td:hover {cursor: pointer;
  
    .deal_no {text-decoration: underline;}
  }
  td {
    .date {
      max-width: 67px;
    }
    .deal_no {
      max-width: 72px;      
    }
    .id {
      max-width: 52px;
    }
    .order_no {
      max-width: 73px;
    }
    .order_date {
      max-width: 67px;
    }
    .service {
      max-width: 84px;
    }
    .product_name {
      max-width: 120px;
    }
    .buyer {
      max-width: 49px;
    }
    .payment {
      max-width: 98px;
    }
    .card {
      max-width: 72px;
    }
    .approval_date {
      max-width: 67px;
    }
    .response_code {
      max-width: 30px;
    }
    .deal_status {
      max-width: 25px;
    }
    .del_cancel {
      max-width: 25px;
    }
  }
  .last {
    width: 52px;
    .btn_cancel {
      cursor: pointer;
    }
  }
}

.credit_daesa_tbl {//대사관리 > 신용카드 대사관리 테이블
  .code_sty {padding-left: 34px;}
  .daesa_cnt_td:hover {text-decoration: underline; cursor: pointer;}
}

.system_menu_tbl {//시스템 > 메뉴관리 테이블
  table-layout: auto;
  
  .menucode_td:hover {text-decoration: underline; cursor: pointer;}
  .menu_modify_td {
    padding-right:30px; text-align: right; }
}
  

.system_error {
  //시스템 에러
  margin-top: 79px;
  padding-top: 130px;
  padding-bottom: 189px;
  background: white;

  .inner_wrap {
    width: 730px;
    margin: 0 auto;
  }

  .inform_tit {
    font-size: 48px;
    text-align: center;
    color: $subtitIndigo;
  }

  .inform_txt {
    padding-top: 25px;
    padding-bottom: 58px;
    font-size: 30px;
    color: $subtitIndigo;
  }

  .error_info {
    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 28px;
      font-size: 0;
      color: #242424;
      text-align: left;

      &:before {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        position: absolute;
        left: 0;
        top: 8px;
        border-radius: 50%;
        background: #3b00c0;
      }
    }

    .note_tit {
      display: inline-block;
      padding-right: 5px;
      font-size: 24px;
    }
    .error_code {
      display: inline-block;
      font-size: 24px;
    }
  }
}


/*----------
*   팝업
* ---------*/
.pop_bottom_v1 {
  //연한 하늘색 배경색 있는
  overflow: hidden;
  padding: 14px 293px 21px 290px;
  background: #e8ebef;

  .btn_save {
    float: left;
    margin-top: 0;
  }

  .btn_cnxl {
    float: right;
  }
}

.pop_bottom_v2 {
  //주황색 배경색

  overflow: hidden;
  padding: 14px 293px 21px 290px;
  background: #fff;

  .btn_save {
    @include btnCenter(150px, 40px, 0, $contPopB);
    background: url(../../images/bg_btn_yellow.svg) no-repeat left top;
    cursor: pointer;

    margin-top: 0;
  }
}

/*팝업 공통*/
.admin_pop {
  position: relative;
  width: 920px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
  background: #fff;

  .pop_head {
    overflow: hidden;
    margin: 0 20px;
    padding: 20px 0;
    text-align: center;

    .head_txt {
      display: inline;
      color: $subtitIndigo;
      font-size: $titlePop;
      font-weight: 500;
    }

    .btn_close_pop {
      @include bg(21px, 21px, "../../images/btn_x.png");
      position: absolute;

      right: 10px;
      top: 10px;
    }
  }

  td {
    padding: 15px 0;
    font-size: $contPop;
    color: $inputGray;
  }

  &.sty2:after {
    content: "";
    display: block;
    @include bg(100px, 100px, "../../images/bg_triangle.png");
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.pop_cont_top {
  padding-top: 17px;

  .affiliate_tbl {
    .cont_th,
    td {
      padding-top: 0;
      padding-bottom: 21px;
    }
  }
}

.pop_cont_bottom {
  margin: 0 59px;
  padding-bottom: 8px;
  padding-top: 13px;

  td {
    padding: 0 0 19px;

    color: #242424;
  }

  .vtc_bar {
    padding: 0 2px 0 1px;
    color: $lineBlue;
  }

  .effective_date {
    width: 265px;

    &.sty2 {
      width: auto;
    }
  }
}

.btn_save {
  @include btnCenter(150px, 40px);
  background: url(../../images/bg_btn_blue.svg) no-repeat left top;
  cursor: pointer;
}

.btn_cnxl {
  @include btnCenter(150px, 40px, 0);
  background: url(../../images/bg_btn_gray.svg) no-repeat left top;
  cursor: pointer;
}

.pop_cont {
  padding: 0 20px;
}

.pop_bottom {
  .wrap_pop_btn {
    overflow: hidden;

    .btn_cnxl,
    .btn_receipt {
      float: left;
      @include btnCenter(150px, 40px, 0, $contPopB);
      background: url(../../images/bg_btn_gray.svg) no-repeat left top;
      cursor: pointer;
    }

    .btn_next {
      float: right;
      @include btnCenter(150px, 40px, 0, $contPopB);
      background: url(../../images/bg_btn_blue.svg) no-repeat left top;
      cursor: pointer;
    }
  }
}

/*가맹점 검색 팝업*/
.pop_cp_account {
  color: #242424;

  .pop_cont_top {
    margin: 0 56px;
    padding-top: 30px;

    .cpid_td:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .keyword input {
    padding-bottom: 9px;
  }
  .dataTables_wrapper .top {
    height: 0;
    overflow: hidden;
  }
  .dataTables_scrollBody .sorting {
    height: 0;
    overflow: hidden;
    padding: 0;
    font-size: 0;
  }

  #data tr {
    cursor: pointer;
    &.active {
      background: #fff;
    }
    &:hover {
      background: #fff;
    }
  }

  .box_creatcount_btn {
    overflow: hidden;
    position: relative;
    z-index: 30;
    padding: 15px 0;
    text-align: right;

    .btn {
      display: inline-block;
      width: 118px;
      height: 30px;
      margin-right: 20px;
      color: #fff;
      font-size: 15px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.pop_cont_bottom {
  padding-bottom: 15px;
}

.pop_content {
  padding: 0 24px;
}
.btn_select {
  background: #ff9e01;
}
.btn_close {
  background: #757575;
}

.wrap_search_accountarea {
  //가맹점 검색 > 검색단
  padding: 0 0 34px;
  font-size: 15px;
  .check_condition {
    margin-right: 101px;
    //padding-left: 34px;
  }
  .txt {
    margin-right: 19px;
  }
  span {
    display: inline-block;
  }
  .select_box_area {
    display: inline-block;
    width: 171px;
    cursor: pointer;
  }
  input[type="text"] {
    width: 171px;
    margin-right: 60px;
    border-bottom: 2px solid #1684e6;
  }
  .btn_franchisee {
    display: inline-block;
    width: 118px;
    height: 30px;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    background: #ff9e01;
    cursor: pointer;
    vertical-align: top;
  }
}

/*가맹점 계약관리 팝업*/
.pop_covenant_modify {
  .pop_cont {
    padding: 0 59px;
  }

  .affiliate_tbl {
    .cont_th {
      width: 140px;
    }

    .svc_name,
    .pay_sms,
    .pay_tp {
      padding-top: 7px;
    }

    .mdd_pg {
      padding-top: 3px;
    }

    .aflte_number {
      width: 251px;
    }

    .fee_pct {
      padding-top: 5px;
    }

    .fee_percent .cont_th {
      padding-top: 5px;
    }

    .fee_aflte_info {
      td {
        padding-top: 10px;
      }
    }

    .aflte_info {
      padding-top: 0;
    }
  }

  .card_company_list {
    input {
      width: 55px;
      text-align: center;
    }

    .vam_bar {
      margin: 0 5px 0 13px;
    }

    li {
      margin-bottom: 22px;
    }
  }

  .control_cp_tbl {
    .cont_th {
      width: 141px;
      padding-right: 15px;
    }

    input {
      width: 251px;
      padding-bottom: 6px;
      border-bottom: 2px solid $lineBlue;
    }

    .manageer_contact {
      width: 261px;
    }
  }
}

/*가맹점 계약관리 보기*/
.pop_affiliate_info {
  padding-bottom: 50px;
  .pop_cont_top {
    margin: 0 60px;
  }
  .pop_cont_middle {
    margin: 13px 59px 0;
    padding-bottom: 6px;
    border-top: 2px solid $lineBlue;
    border-bottom: 2px solid $lineBlue;
  }

  .pop_cont_bottom {
    margin: 20px 59px 0;
    padding-bottom: 8px;

    margin: 0 59px;
    border-top: 2px solid $lineBlue;
    border-bottom: 2px solid $lineBlue;

    .responsible_list_tbl {
      //가맹점 담당자 정보
      .cont_th {
        width: 143px;
        padding: 15px 17px 15px 0;
        text-align: right;
        box-sizing: border-box;
        font-size: $contPop;
      }

      td:after {
        content: "";
        display: block;
        width: 1px;
        height: 15px;
        position: absolute;
        right: 0;
        top: 15px;
        background: $lineBlue;
      }

      .rspsblty_name {
        padding-left: 0;
        padding-right: 17px;
      }

      .rspsblty_directnbr {
        padding-left: 20px;
        padding-right: 41px;
      }

      .contract_responsible {
        th,
        td {
          padding-top: 26px;
        }

        td:after {
          top: 26px;
        }
      }

      .rspsblty_cellnbr {
        padding-left: 27px;
        padding-right: 44px;
      }

      .rspsblty_email {
        padding-left: 24px;

        &:after {
          display: none;
        }
      }
    }

    .customer_responsible {
      .cont_th,
      td {
        padding-bottom: 22px;
      }
    }
  }
  .pop_head {
    padding-bottom: 23px;
  }

  .cont_th {
    padding: 15px 18px 15px 0;
    letter-spacing: -0.4px;
  }

  .aflte_number {
    width: 268px;
  }

  .control_cp_tbl {
    //master 가맹점 계약관리 보기
    .cont_th {
      width: 151px;
      padding: 15px 18px 0 0;
    }

    .manageer_contact {
      width: 287px;
    }
  }

  .dataTables_filter {
    display: none;
  }

  &.pop_calculate_info {
    //가맹점 정산정보
    padding-bottom: 27px;
  }
}

.pop_menu_group {
  width: 578px;
}

.btn_account_search {
  display: inline-block;
  width: 50px;
  height: 30px;
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  background: #ff9e01;
}

.responsible_list_tbl {
  //가맹점 담당자 정보
  .cont_th {
    width: 143px;
    padding: 15px 17px 15px 0;
    text-align: right;
    box-sizing: border-box;
    font-size: $contPop;
  }

  td:after {
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 15px;
    background: $lineBlue;
  }

  .rspsblty_name {
    padding-left: 0;
    padding-right: 17px;
  }

  .rspsblty_directnbr {
    padding-left: 20px;
    padding-right: 25px;
  }

  .contract_responsible {
    th,
    td {
      padding-top: 26px;
    }

    td:after {
      top: 26px;
    }
  }

  .rspsblty_cellnbr {
    padding-left: 27px;
    padding-right: 23px;
  }

  .rspsblty_email {
    padding-left: 24px;

    &:after {
      display: none;
    }
  }
}

/*시스템 메뉴 관리 팝업*/
.pop_system_menu {
  padding-bottom: 30px;

  .pop_cont_top {
    margin: 0 40px;
  }
  .affiliate_tbl .aflte_number {
    width: auto;
  }

  .affiliate_tbl {
    margin: 0 auto 25px;
  }
  .cont_th {
    padding-right: 16px;
    font-size: $contPop;
    color: #242424;
    text-align: right;
  }

  td {
    color: #242424;
  }
  .menu_code {
    color: #757575;
  }
  input {
    width: 251px;
  }
  .menu_url input {
    width: 560px;
  }

  .sysmenu_tg_list {
    //사용여부
    background: #fff;
    font-size: $contPopS;

    li {
      padding: 5px;
      cursor: pointer;

      &:hover {
        background: #ddd;
      }
    }
  }
  .select_toggle_box {
    display: none;
    width: 100%;
    max-height: 150px;
    position: absolute;
    top: 25px;
    left: 0;
    border: 1px solid #ddd;
    border-top: 0;
    overflow: auto;
    z-index: 1;

    li.on {
      background: $lineBlue;
    }
  }

  .pop_cont_bottom {
    border-top: 2px solid #1684e5;
    border-bottom: 2px solid #1684e5;
    margin: 0 40px;
    padding-bottom: 0;
  } //메뉴관리 수정
}

.pop_system_menu_modify {//메뉴관리 상세 수정
  .menu_url input {width:600px}
}

/*가맹점 정산정보 수정*/
.pop_calculate_modify {
  padding-bottom: 0;

  &:after {
    display: none;
  }

  .pop_head {
    padding-bottom: 38px;
  }

  .affiliate_tbl {
    input {
      padding-bottom: 8px;
      border-bottom: 1px solid $lineBlue;
    }

    .cont_th,
    .aflte_name,
    .aflte_number {
      padding-top: 0;
      padding-bottom: 23px;
    }

    .affiliate_nbr,
    .svc_id,
    .account_company,
    .account_number {
      padding-top: 0;
      padding-bottom: 18px;
    }

    .account_name {
      padding-top: 0;
      padding-bottom: 19px;
    }

    .acnt_company_area {
      @include selectCustom;
      width: 251px;
      padding-bottom: 7px;
      border-bottom: 1px solid $lineBlue;

      .acnt_company_list {
        background: #fff;
        font-size: $contPopS;

        li {
          padding: 5px;
          cursor: pointer;

          &:hover {
            background: #ddd;
          }
        }
      }
    }
  }
}

/*시스템, 공통코드*/
.pop_system_code {
  width: 1060px;

  &:after {
    display: none;
  }

  .pop_head {
    padding-bottom: 35px;
  }

  .pop_cont {
    padding: 0 35px 28px;
  }

  .tbl tbody tr {
    background: transparent;
  }

  .tbl {
    table-layout: auto;
    border-bottom: 0;

    th {
      padding: 0 10px 11px;
      text-align: left;
      font-size: $contPopB;
    }

    td {
      padding: 32px 0 0 0;
      font-size: $contPopB;

      input {
        width: 170px;
        padding: 0 10px 8px;
        margin-right: 35px;
        border-bottom: 1px solid $lineBlue;
        box-sizing: border-box;
      }
    }
  }

  .useable_area {
    padding: 3px 10px 8px;

    .select_toggle_box {
      top: 31px;
    }
  }

  .pop_bottom_v1 {
    padding-right: 363px;
    padding-left: 360px;
  }
}

/*휴일관리 팝업*/
.pop_holidays {
  width: 856px;

  &:after {
    display: none;
  }

  .pop_head {
    padding-bottom: 28px;
  }

  .wrap_calendar {
    display: block;
    padding-bottom: 3px;
    border-bottom: 1px solid $lineBlue;

    input {
      width: 115px;
      padding: 7px 10px 6px;
      font-size: $contPopB;
      background: transparent;
    }

    &:after {
      content: " ";
      display: inline-block;
      position: relative;
      width: 25px;
      height: 28px;
      margin-left: 7px;
      vertical-align: top;
      background: url("../../images/ico_calendar2.png") no-repeat left top;
    }
  }

  .wrap_inp {
    border-bottom: 1px solid $lineBlue;
    padding-bottom: 3px;
    background: transparent;

    .holiday_note {
      width: 375px;
      padding: 7px 11px;
      font-size: $contPopB;
    }
  }

  .tbl {
    table-layout: auto;

    td {
      padding: 28px 35px 28px 0;
      font-size: $contPopB;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &.admin_pop .pop_cont .tbl {
    tr {
      background: #fff;

      th {
        padding: 0 11px 10px;
        font-size: $contPopB;
        text-align: left;
      }
    }
  }

  .pop_bottom_v1 {
    padding: 14px 258px 21px 261px;
  }
}

/*신용카드 정산 집계 & 대사 관리 - 차이건수 팝업*/
.pop_daesa,
.pop_calcate_admin {
  .pop_head {
    padding-top: 15px;
    padding-bottom: 32px;
  }

  .pop_cont {
    padding: 0 27px 0 23px;
  }

  .tbl {
    th {
      font-size: $contPopS;
    }

    td {
      padding: 23px 0 24px;
      font-size: $contPopS;
      color: #242424;

      .bar {
        color: $lineBlue;
      }
    }
  }

  .box_paging {
    padding-bottom: 37px;
    margin-top: 34px;
  }
}

/*신용카드 정산 집계*/
.pop_calcate_admin {
  width: 1180px;
}

.cont_th {
  width: 143px;
  padding: 0 16px 15px 0;
  font-size: $contPop;
  text-align: right;
  box-sizing: border-box;
}

/*기타 테이블 디자인*/
.pop_cont_middle {
  margin: 25px 59px 0;
}

.affiliate_tbl .inp_search_prev {
  width: 186px;
  margin-right: 10px;
}

.responsible_list_tbl {
  .rspsblty_name {
    padding-right: 18px;
  }

  .rspsblty_directnbr {
    padding-right: 16px;
  }

  .rspsblty_cellnbr {
    padding-right: 17px;
  }

  .cont_th,
  td {
    padding-bottom: 18px;
    padding-top: 0;
  }

  input {
    width: 151px;
    padding-bottom: 7px;
    border-bottom: 1px solid $lineBlue;
  }
}

.covenant_tbl {
  td {
    padding-top: 0;
    padding-bottom: 21px;

    input {
      width: 251px;
      padding-bottom: 4px;
      border-bottom: 2px solid $lineBlue;
    }
  }

  .aflte_name {
    padding-bottom: 18px;
  }

  .profit_type {
    padding-bottom: 18px;
  }
}

.affiliate_tbl input {
  width: 251px;
  padding: 0 0 4px;
  border-bottom: 1px solid $lineBlue;
}

.responsible_list_tbl {
  //가맹점 담당자 정보
  .cont_th {
    width: 143px;
    padding: 15px 17px 15px 0;
    text-align: right;
    box-sizing: border-box;
    font-size: $contPop;
  }

  td {
    position: relative;
    overflow: hidden;
    font-size: $contPop;
    color: $inputGray;
  }
}

.control_cp {
  //가맹점 계약일자, 중지일자, 시작일자, 해지일자, 계약담당자
  .cont_th {
    padding: 0 17px 17px 0;
  }

  td {
    padding-top: 0;
    color: #242424;
  }

  .vtc_bar {
    padding: 0 2px 0 1px;
    color: $lineBlue;
  }

  .effective_date {
    width: 265px;
  }
}

.fee_percent {
  //카드사별 수수료
  .cont_th {
    vertical-align: top;
  }

  .card_company_list {
    overflow: hidden;

    li {
      width: 20%;
      margin-bottom: 30px;
      float: left;
    }

    .vam_bar {
      content: "";
      display: inline-block;
      width: 1px;
      height: 15px;
      background: $lineBlue;
      margin: 0 13px;
      vertical-align: middle;
    }
  }
}

.pay_sms {
  //master only 결제SMS 발송
  .custom_checkbox {
    padding-left: 30px;
    height: 18px;
    line-height: 18px;

    .checkmark {
      top: -5px;
      left: -5px;
    }
  }
}

.cause_memo {
  display: block;
  width: 658px;
  height: 90px;
  border: 1px solid $lineBlue;
  resize: none;
  background: #fff;
}

.useable_area {
  width: 170px;
  padding: 11px 10px;
  margin-right: 0;
  border-bottom: 1px solid $lineBlue;
  box-sizing: border-box;
  cursor: pointer;

  @include selectCustom($bottom: 11px);
  text-align: left;

  .select_toggle_box {
    top: 41px;
  }

  .useable_list {
    background: #fff;

    li {
      padding: 5px;
      cursor: pointer;

      &:hover {
        background: #ddd;
      }
    }
  }
}