@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@350;400;500&family=Roboto:wght@500&display=swap"); //nanum : 400 regular, 700 bold /notosans : 350 demilight, 400 regular, 500 medium / roboto : 500 medium

$colorBlue : #2F80ED;
$colorPurple :#9B51E0;

html {font-family:'Nanum Gothic', sans-serif; font-weight:400}

%wrap {
    max-width:720px;
    margin: 0 auto;
}

/* Header.js */
.header {
    background: #fff;

    .header_wrap{
        @extend %wrap;
        position: relative;
        padding: 20px 30px;
    }

    .pk_logo {
        display: block;
        text-align: center;}

    .icon_search {position: absolute; right:30px; top:26px;}

}

/* Footer.js */
.footer {
    background: #F8f8f8;
    
    .terms {padding: 10px 0; background: #4d4d4d;}
    .terms_wrap {display: flex;
        @extend %wrap;

        li {flex:1; text-align: center; color:#fff; font-size: 12px;}
    }

    .notice {padding: 30px 10px;}
    .notice_area {
        @extend %wrap;
        color:#000; text-align: center;
        font-size:13px;
    }

}

/* Home.js */
.pk_main {
    @extend %wrap;
  
    padding: 0 10px;

    .hello_message {padding: 35px 10px 25px; font-size: 18px; color:#4d4d4d; }

    .page_title {
        padding-top: 80px;
        padding-bottom: 20px;
        margin-bottom: 60px;
        border-bottom: 2px solid $colorPurple;
        font-size: 25px; color:#4d4d4d;
        text-align: center;
    }

    .visitor_area {
        display: flex;
        justify-content: space-around;
        padding:35px 10px 25px;

        .btn_login, .btn_register {font-size:16px; color:#4d4d4d;
        
        &:hover, &:active {
            text-decoration: underline;
            cursor: pointer;
        }}

    }

    .post_wrap {
        display: flex;
        flex-wrap:wrap;
        padding-bottom: 30px;
    }

}

/* components / post*/
.post {
    width:50%;
    max-width:330px;
    margin: 10px;
}

/* routes / Keyword */
.result_list {
    display: flex;
    flex-wrap:wrap;
    max-width:720px;
    margin: 0 auto;
    padding: 0 20px;

    .keyword_item {
        font-size:24px; color:#4d4d4d;
        padding: 25px 60px 25px 0;
    }

}
//pop_area 공통
.pop_area {
    position:fixed;
    left:0; top:0;
    width:100%; height:100%;
    background: #fff;

    .pop_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width:720px;
        position: relative;
        margin: 0 auto;
        padding: 20px 40px;
        background: #f8f8f8;
    }
    .pop_title {text-align: left;}

    .box_inp {max-width:500px; border-bottom: 2px solid #c4c4c4;}

    .inp_keyword {display: block; width:100%; padding: 5px 5px; background: none; border:0; color:#9B51E0; font-size: 36px;}

    .btn_close {
        width:20px; height:20px;
    }
}