@charset "UTF-8";
.custom_radiobox { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; line-height: 1; font-size: 14px; color: #001b32; }

.custom_radiobox input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.custom_radiobox .checkmark { position: absolute; top: 1px; left: 0; height: 18px; width: 18px; border: 1px solid #d5d5d5; }

.custom_radiobox .checkmark { border-radius: 50%; background: transparent; }

.custom_radiobox input:checked + .checkmark:after { display: block; width: 10px; height: 10px; position: absolute; left: 4px; top: 4px; background: #fb9e08; border-radius: 50%; content: ''; }

.custom_checkbox { display: inline-block; position: relative; padding-left: 43px; cursor: pointer; user-select: none; }

.custom_checkbox input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.custom_checkbox .checkmark { position: absolute; top: 1px; left: 0; height: 28px; width: 28px; border: 0; }

.custom_checkbox .checkmark { background: url("../../images/custom_input1_off.svg") no-repeat center/27px; }

.custom_checkbox input:checked + .checkmark { background: url("../../images/custom_input1_on.svg") no-repeat center/22px; }

.header { position: relative; height: 100px; background: #fff url("../../images/bg_header.jpg") no-repeat top right; }

.header .inner_wrap { margin: 0 auto; max-width: 1720px; height: 100%; z-index: 1; }

.header .logo { float: left; margin-top: 3px; margin-left: 3px; width: 114px; }

.header .bg_depth2 { display: none; width: 100%; height: 135px; position: absolute; left: 0; top: 100px; background: rgba(0, 0, 0, 0.7); z-index: 10; }

.header .gnb { min-width: 513px; position: absolute; left: 50%; transform: translateX(-50%); -ms-transform: translateX(-50%); z-index: 30; padding-top: 32px; font-weight: 100; }

.header .gnb:hover .depth2 { display: block; }

.header .gnb:hover ~ .bg_depth2 { display: block; }

.header .gnb > ul > li { float: left; width: 33%; min-width: 113px; padding-bottom: 6px; line-height: 56px; text-align: center; }

.header .gnb > ul > li:nth-child(2) { width: 34%; }

.header .gnb > ul > li.on > a { color: #0f4c82; border-bottom: 2px solid #0f4c82; }

.header .gnb > ul > li a { display: block; padding-bottom: 10px; color: #6a6a6a; font-size: 20px; text-decoration: none; letter-spacing: 0.3px; font-weight: 300; }

.header .gnb .depth2 { overflow: hidden; display: none; z-index: 30; }

.header .gnb .depth2 li { margin: 13px 0; line-height: 1; }

.header .gnb .depth2 li:first-child { padding-top: 14px; text-align: center; }

.header .gnb .depth2 a { font-size: 15px; color: #b1b1b1; }

.header .gnb .depth2 a:hover { color: #ff9e01; }

.header .user_info { display: flex; align-items: center; float: right; height: 100%; }

.header .user_info .user_id { display: inline-block; padding-right: 20px; line-height: 40px; font-size: 14px; color: #ff9e01; }

.header .user_info .btn_logout { display: block; height: 40px; line-height: 40px; padding: 0 15px; margin: 0 30px 0 0; background: #ff9e01; font-size: 14px; color: #fff; text-align: center; cursor: pointer; }

.wrap_admin { position: relative; min-width: 1280px; min-height: 100vh; background: #f3f3f3 url("../../images/bg_triangle_container.png") no-repeat right 0; }

.wrap_admin .copyright { max-width: 1720px; margin: 0 auto; }

.admin_container { max-width: 1720px; margin: 0 auto; padding: 0 10px; box-sizing: border-box; }

.tit_sty1 { padding: 50px 0 20px; font-size: 30px; color: #012875; }

.tit_sty2 { padding: 27px 0 18px; font-size: 24px; color: #242424; }

.pb0 { padding-bottom: 0; }

.policy { width: 220px; margin: 0 auto; }

.policy.main_cp { margin-top: 104px; }

.policy.main_cp a { color: #001b32; }

.policy a { color: #fff; font-size: 16px; text-decoration: none; }

.policy a:first-child { margin-right: 41px; }

.policy.sub { margin-top: 79px; }

.policy.sub a { color: #001b32; }

.footer { overflow: hidden; max-width: 1720px; margin: 16px auto 0; padding: 0 10px; box-sizing: border-box; color: #001b32; font-size: 14px; border-top: 1px solid #001b32; }

.footer .company_info { float: left; padding: 15px 0 0 0; line-height: 24px; }

.footer .company_info .name { font-size: 18px; line-height: 25px; font-weight: 100; }

.footer .company_info .business_info span, .footer .company_info .tel_info span { position: relative; font-weight: 100; }

.footer .company_info .business_info span:first-child, .footer .company_info .tel_info span:first-child { padding-left: 2px; }

.footer .company_info .business_info span:after, .footer .company_info .tel_info span:after { content: ''; display: inline-block; width: 1px; height: 9px; margin: 0 17px 0 20px; background: #001b32; }

.footer .company_info .business_info span:last-child:after, .footer .company_info .tel_info span:last-child:after { display: none; }

.footer .company_info .address { font-weight: 100; }

.footer .logo { float: right; width: 147px; vertical-align: top; }

.footer .logo img { margin-top: -7px; margin-left: 15px; }

.copyright { margin: 20px 0 0; padding-bottom: 39px; font-size: 12px; font-weight: 300; color: #fff; text-align: center; }

.copyright.sub { color: #001b32; }

.select_box_area { position: relative; width: 251px; border-bottom: 2px solid #1684e5; }

.select_box_area .selected_box { padding-bottom: 9px; }

.select_box_area .selected_box .select_box_txt { color: #757575; }

.select_box_area .select_toggle_box { display: none; width: 100%; max-height: 150px; position: absolute; top: 26px; left: 0; border: 1px solid #ddd; border-top: 0; overflow: auto; z-index: 1; box-sizing: border-box; }

.select_box_area .on + .select_toggle_box { display: block; }

.select_box_area:after { content: ''; display: block; width: 0; height: 0; position: absolute; right: 0; bottom: 9px; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 10px solid #1684e5; }

.select_box_area .list_select_option { background: #fff; }

.select_box_area .list_select_option li { padding: 5px; cursor: pointer; }

.select_box_area .list_select_option li:hover { background-color: #f1f1f1; }

/*--------------------------- admin 로그인 페이지 ----------------------------*/
.wrap_master_main { background: url("../../images/bg_main_master.png") no-repeat top center/cover; padding-top: 120px; }

.login_box { width: 585px; height: 413px; margin: 0 auto; background: url("../../images/login_master_box.png") no-repeat left bottom; }

.wrap_login_area { padding: 117px 0 0 59px; }

.wrap_login_area .box_input, .wrap_login_area .btn_login { float: left; }

.wrap_login_area .login_info { clear: left; padding: 79px 58px 0 0; text-align: right; font-size: 15px; color: #a3bdef; letter-spacing: -0.1px; }

.cont_master_main .logo { width: 317px; height: 241px; margin: 0 auto; background: url("../../images/logo_nespay_color1.png") no-repeat left center/332px; }

.cont_master_main .wrap_login_area .box_input { /* placeholder 스타일 지정 */ /* IE */ /* Firefox */ }

.cont_master_main .wrap_login_area .box_input input { display: block; width: 300px; height: 55px; line-height: 1; padding: 13px 18px 12px 19px; box-sizing: border-box; font-size: 20px; color: #4a77d1; letter-spacing: -1.5px; background: transparent; }

.cont_master_main .wrap_login_area .box_input input::placeholder { color: #4a77d1; opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */ }

.cont_master_main .wrap_login_area .box_input input::-webkit-input-placeholder { color: #4a77d1; }

.cont_master_main .wrap_login_area .box_input input:-ms-input-placeholder { color: #4a77d1; }

.cont_master_main .wrap_login_area .box_input input:-mos-input-placeholder { color: #4a77d1; }

.cont_master_main .wrap_login_area .box_input .login_id { margin-bottom: 10px; }

.cont_master_main .btn_login { width: 140px; height: 121px; margin-left: 21px; cursor: pointer; background: url("../../images/btn_loginmaster_main.png") no-repeat left top; }

.btn_close_pop { width: 21px; height: 21px; background: url(../../images/btn_x.png) no-repeat left top; background-size: 21px 21px; position: absolute; right: 20px; top: 13px; }

.layer_confirm_certi { display: none; width: 640px; height: 140px; position: absolute; left: 50%; top: 50%; margin-left: -320px; padding: 0 22px; border-radius: 10px; box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2); box-sizing: border-box; background: #fff; }

.layer_confirm_certi.on { display: block; }

.layer_confirm_certi .pop_head { padding: 0; }

.layer_confirm_certi .wrap_certi_cfm { padding-top: 56px; }

.layer_confirm_certi .box_input { float: left; width: 439px; padding-left: 20px; border-bottom: 1px solid #1684e5; letter-spacing: -1px; box-sizing: border-box; }

.layer_confirm_certi .box_input input { width: 372px; height: 50px; font-size: 16px; letter-spacing: -0.5px; box-sizing: border-box; }

.layer_confirm_certi .box_input #time { color: #ff0000; font-size: 20px; }

.layer_confirm_certi .btn_certi_cfm { float: left; width: 137px; height: 50px; margin-left: 20px; color: #fff; font-size: 20px; text-align: center; line-height: 50px; background: #012875; background: url(../../images/btn_certi_cfm.png) no-repeat left top; cursor: pointer; }

.wrap_admin_layer { position: relative; padding: 0 25px 70px; min-height: 600px; border-radius: 10px; box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2); box-sizing: border-box; background: url("../../images/bg_triangle2.png") no-repeat right bottom/270px #ffffff; }

.wrap_util { position: relative; margin-bottom: 40px; }

.wrap_util.sty2 { padding-bottom: 30px; }

.wrap_util .box_search1 dl { overflow: hidden; }

.wrap_util .box_search1 dt, .wrap_util .box_search1 dd { float: left; font-size: 18px; color: #757575; }

.wrap_util .box_search1 dt { height: 55px; padding: 0 14px 0 8px; line-height: 55px; box-sizing: border-box; }

.wrap_util .box_search1 dd { line-height: 55px; }

.wrap_util .box_search1 .calendar_area { display: flex; align-items: center; }

.wrap_util .box_search1 .wrap_calendar { display: block; position: relative; width: 170px; height: 35px; border-bottom: 1px solid #1684e5; background: url("../../images/ico_calendar2.png") top 0 right 7px/25px no-repeat; }

.wrap_util .box_search1 .wrap_calendar input { width: 170px; height: 35px; padding: 0 10px; border: none; box-sizing: border-box; background: transparent; color: #757575; cursor: pointer; }

.wrap_util .box_search1 .inp_line { margin: 0 13px; }

.wrap_util .box_search2 { overflow: hidden; margin-top: 27px; }

.wrap_util .box_search2 dl { display: block; float: left; font-size: 18px; color: #757575; }

.wrap_util .box_search2 dl dt, .wrap_util .box_search2 dl dd { display: inline; }

.wrap_util .box_search2 .box_option_sel { margin-left: 44px; }

.wrap_util .box_search2 .box_search_option { margin-left: 44px; box-sizing: border-box; text-align: left; }

.wrap_util .box_search2 .box_data { margin-left: 30px; }

.wrap_util .box_search2 .box_data span { display: inline-block; padding: 0 10px; border-bottom: 1px solid #1684e5; }

.wrap_util .box_search2 .box_data span input { padding-bottom: 8px; width: 288px; }

.wrap_util .box_search2 .box_dealstat { margin-left: 115px; }

.wrap_util .box_search2 .box_id_search { display: block; border-bottom: 1px solid #1684e5; width: 500px; font-size: 0; }

.wrap_util .box_search2 .box_id_search input { display: inline-block; width: 466px; height: 34px; padding: 0 10px 0 11px; line-height: 1; box-sizing: border-box; vertical-align: bottom; font-size: 18px; }

.wrap_util .box_search2 .box_id_search .btn_ico_search { display: inline-block; width: 27px; height: 28px; background: url("../../images/ico_search.png") no-repeat left top; vertical-align: top; cursor: pointer; }

.wrap_util .btn_searchstart { display: inline-block; width: 90px; height: 32px; margin-left: 120px; line-height: 32px; font-size: 18px; color: #fff; text-align: center; background: #1684e5; cursor: pointer; }

.wrap_util .tool { position: absolute; top: 0; right: 2px; }

.wrap_util .tool .btn_print, .wrap_util .tool .btn_xls { display: inline-block; height: 36px; cursor: pointer; }

.wrap_util .tool .btn_print { width: 36px; margin-right: 44px; background: url("../../images/ico_print.png") no-repeat left top; }

.wrap_util .tool .btn_xls { width: 34px; background: url("../../images/ico_excel.png") no-repeat left top; }

.wrap_util select { min-width: 170px; margin-left: 11px; height: 30px; padding: 0 8px 10px; border: none; line-height: 1; letter-spacing: -1px; border-bottom: 1px solid #1684e5; background: url("../../images/arrow_select_blue.png") no-repeat right 14px bottom 12px; border-radius: 0px; appearance: none; box-sizing: border-box; font-size: 18px; color: #757575; cursor: pointer; }

.wrap_util select::-ms-expand { display: none; }

.tbl .tal { text-align: left; padding-left: 20px; }

.tbl .holiday_code { padding-left: 32px; }

.tbl .tar { text-align: right; padding-right: 20px; }

.tbl .status { padding-right: 84px; }

.tbl span { display: inline-block; word-break: break-all; }

.tbl td { vertical-align: middle; }

.tbl td .custom_checkbox { padding-left: 0; }

.tbl td .custom_checkbox .checkmark { position: static; }

.tbl .cpfrannbr_td:hover { text-decoration: underline; cursor: pointer; }

.tbl .pg_deal_code { max-width: 65px; }

.tbl .check_card { max-width: 30px; }

.cp_franchisee_tbl .frchnum_td:hover { text-decoration: underline; cursor: pointer; }

.cp_frch_contact_tbl .frchnum_td:hover { text-decoration: underline; cursor: pointer; }

.cp_deal_tbl th, .cp_deal_tbl td { font-size: 13px; }

.cp_deal_tbl td span.date { max-width: 67px; }

.cp_deal_tbl td span.deal_no { max-width: 72px; }

.cp_deal_tbl td span.deal_no:hover { text-decoration: underline; cursor: pointer; }

.cp_deal_tbl td span.id { max-width: 52px; }

.cp_deal_tbl td span.order_no { max-width: 73px; }

.cp_deal_tbl td span.order_date { max-width: 67px; }

.cp_deal_tbl td span.service { max-width: 84px; }

.cp_deal_tbl td span.product_name { max-width: 120px; }

.cp_deal_tbl td span.buyer { max-width: 49px; }

.cp_deal_tbl td span.payment { max-width: 98px; }

.cp_deal_tbl td span.card { max-width: 72px; }

.cp_deal_tbl td span.approval_date { max-width: 67px; }

.cp_deal_tbl td span.response_code { max-width: 30px; }

.cp_deal_tbl td span.deal_status { max-width: 25px; }

.cp_deal_tbl td span.del_cancel { max-width: 25px; }

.cp_deal_tbl .last { width: 50px; position: relative; }

.cp_deal_tbl .btn_cancel { display: block; width: 50px; height: 30px; line-height: 30px; position: absolute; right: 0; bottom: 0; color: #ff9e01; background: #fff; border: 1px solid #ff9e01; box-sizing: border-box; cursor: pointer; }

.bar { color: #1684e5; }

.btn_pg_modifiy { padding: 5px 12px; color: #ff9e01; border: 1px solid #ff9e01; text-decoration: none; background: #fff; }

/*---------------------- # 가맹점 팝업 공통 ------------------------*/
.cp_admin_pop { position: relative; width: 920px; border-radius: 10px; box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2); background: #fff; }

.cp_admin_pop:after { content: ''; width: 100px; height: 100px; background: url("../../images/bg_triangle.png") no-repeat left top; background-size: 100px 100px; display: block; position: absolute; right: 0; bottom: 0; }

.cp_admin_pop .pop_head { padding-top: 19px; }

.cp_admin_pop .pop_head .head_txt { font-size: 18px; text-align: center; }

.cp_admin_pop .pop_head .btn_close_pop { right: 10px; top: 10px; }

.cp_admin_pop .pop_cont_top { padding: 0 59px; }

.cp_admin_pop .pop_cont_top td { padding: 15px 0; font-size: 15px; color: #757575; }

.pop_transaction { width: 1080px; padding-bottom: 50px; }

.pop_transaction .affiliate_tbl .cont_th { width: 102px; }

.pop_transaction .wrap_transaction_payment { border-top: 1px solid #0f4c82; }

.pop_transaction .section_transaction_history { overflow: auto; border-top: 6px solid #0f4c82; height: 260px; }

.pop_transaction .wrap_transaction_history { overflow: hidden; padding: 6px 0; border-bottom: 1px solid #fff; background: #f3f3f3; }

.pop_transaction .wrap_transaction_history.ok { background: #e8ebef; }

.pop_transaction .wrap_transaction_history.ok .ico_state { background: #1684e6; }

.pop_transaction .wrap_transaction_history .ico_state { float: left; width: 50px; height: 50px; margin: 12px 16px; border-radius: 25px; line-height: 50px; font-size: 15px; font-weight: 500; color: #fff; text-align: center; background: #a1a1a1; }

.pop_transaction .wrap_transaction_history table { float: left; width: calc(100% - 82px) !important; }

.pop_transaction .wrap_transaction_history table th, .pop_transaction .wrap_transaction_history table td { padding: 10px 0 !important; }

.pop_transaction .wrap_transaction_history table th { text-align: center !important; }

.pop_transaction .affiliate_basic th { padding: 15px 17px 15px 0; box-sizing: border-box; font-size: 15px; text-align: right; letter-spacing: -0.4px; }

.pop_covenant_info .pop_head { padding-bottom: 23px; }

.pop_covenant_info .pop_cont { padding: 0 60px 35px; }

.pop_covenant_info .covenant_tbl { width: 100%; }

.pop_covenant_info .covenant_tbl .cont_th { width: 143px; padding: 15px 18px 15px 0; font-size: 15px; text-align: right; box-sizing: border-box; }

.pop_covenant_info .covenant_tbl tr td:first-of-type { width: 265px; }

.pop_covenant_info .covenant_tbl td { font-size: 15px; color: #757575; }

.pop_covenant_info .covenant_tbl .fee_pct { padding-top: 15px; }

.pop_covenant_info .cause_memo { display: block; overflow: auto; width: 658px; height: 90px; border: 1px solid #1684e5; resize: none; background: #fff; }

.pop_covenant_info .cause_info .aflte_info { padding-bottom: 8px; }

.pop_covenant_info .covenant_tbl .effective_date, .pop_covenant_info .covenant_tbl .chg_date, .pop_covenant_info .covenant_tbl .termination_date, .pop_covenant_info .covenant_tbl .revocation_date { color: #242424; }

.pop_covenant_info .covenant_tbl .effective_date .vtc_bar, .pop_covenant_info .covenant_tbl .chg_date .vtc_bar, .pop_covenant_info .covenant_tbl .termination_date .vtc_bar, .pop_covenant_info .covenant_tbl .revocation_date .vtc_bar { color: #1684e5; }

.pop_covenant_info .fee_aflte_info .cont_th, .pop_covenant_info .fee_aflte_info .fee_tp, .pop_covenant_info .fee_aflte_info .aflte_info { padding-top: 20px; }

.pop_covenant_info .stop_dates .cont_th { padding-top: 0; }

.pop_covenant_info .stop_dates .termination_date, .pop_covenant_info .stop_dates .revocation_date { padding-top: 0; }

.pop_affiliate_info .pop_cont_bottom { margin: 0 59px 12px; border-top: 2px solid #1684e5; border-bottom: 2px solid #1684e5; }

.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .cont_th { width: 143px; padding: 15px 17px 15px 0; text-align: right; box-sizing: border-box; font-size: 15px; }

.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl td { font-size: 13px; }

.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl td:after { content: ''; display: block; width: 1px; height: 15px; position: absolute; right: 0; top: 15px; background: #1684e5; }

.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .rspsblty_name { padding-left: 0; padding-right: 17px; }

.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .rspsblty_directnbr { padding-left: 20px; padding-right: 0; }

.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .contract_responsible th, .pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .contract_responsible td { padding-top: 26px; }

.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .contract_responsible td:after { top: 26px; }

.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .rspsblty_cellnbr { padding-left: 27px; padding-right: 0; }

.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .rspsblty_email { padding-left: 24px; }

.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .rspsblty_email:after { display: none; }

.pop_affiliate_info .pop_cont_bottom .customer_responsible .cont_th, .pop_affiliate_info .pop_cont_bottom .customer_responsible td { padding-bottom: 22px; }

.pop_affiliate_modify { padding-bottom: 19px; }

.pop_affiliate_modify:after { display: none; }

.pop_affiliate_modify .wrap_search_accountarea { padding: 10px 0 34px; font-size: 15px; }

.pop_affiliate_modify .wrap_search_accountarea .check_condition { margin-right: 101px; }

.pop_affiliate_modify .wrap_search_accountarea .txt { margin-right: 19px; }

.pop_affiliate_modify .wrap_search_accountarea span { display: inline-block; }

.pop_affiliate_modify .wrap_search_accountarea .select_box_area { display: inline-block; width: 171px; cursor: pointer; }

.pop_affiliate_modify .wrap_search_accountarea input[type="text"] { width: 171px; margin-right: 60px; border-bottom: 2px solid #1684e6; }

.pop_affiliate_modify .wrap_search_accountarea .btn_franchisee { display: inline-block; width: 118px; height: 30px; color: #fff; font-size: 15px; line-height: 30px; text-align: center; background: #ff9e01; cursor: pointer; vertical-align: top; }

.pop_affiliate_modify .tbl td { color: #242424; padding: 15px 0; font-size: 15px; }

.pop_affiliate_modify .tbl td:first-child:hover { text-decoration: none; }

.pop_affiliate_modify .tbl .cpid_td:hover { text-decoration: underline; }

.pop_affiliate_modify .pop_content { padding: 0 24px; }

.pop_affiliate_modify .keyword input { padding-bottom: 9px; }

.pop_affiliate_modify .dataTables_wrapper .top { height: 0; overflow: hidden; }

.pop_affiliate_modify .dataTables_scrollBody .sorting { height: 0; overflow: hidden; padding: 0; font-size: 0; }

.pop_affiliate_modify #data tr { cursor: pointer; }

.pop_affiliate_modify #data tr.active { background: #fff; }

.pop_affiliate_modify #data tr:hover { background: #fff; }

.pop_affiliate_info { padding-bottom: 50px; }

.pop_affiliate_info .pop_head { padding-bottom: 23px; }

.pop_affiliate_info .affiliate_tbl { width: 100%; }

.pop_affiliate_info .affiliate_tbl .cont_th { width: 143px; padding: 15px 18px 15px 0; font-size: 15px; text-align: right; box-sizing: border-box; letter-spacing: -0.4px; }

.pop_affiliate_info .affiliate_tbl .aflte_number { width: 268px; }

.pop_affiliate_info.pop_calculate_info { padding-bottom: 27px; }

.pop_bottom_v1 { overflow: hidden; padding: 14px 293px 21px 290px; background: #e8ebef; }

.pop_bottom_v1 .btn_save { float: left; margin-top: 0; }

.pop_bottom_v1 .btn_cnxl { float: right; }
/*# sourceMappingURL=admin.css.map */